playwright==1.42.0
# pytest-playwright==0.4.4
agentql==1.9.1
python-dotenv
# transformers==4.41.0
# tensorflow
# tf-keras
# flax
# langchain==0.3.26
# langchain-community==0.3.26
# langchain-core==0.3.66
# langchain-ollama==0.3.3
# langchain-text-splitters==0.3.8
# langsmith==0.4.3
newspaper4k
lxml_html_clean
requests[socks]
sqlalchemy
psycopg2-binary
dateparser
# googletrans==4.0.0-rc1